<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/json.js"></script>
    <script type="text/javascript" src="/socket.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g2/4.0.9/dist/g2.min.js"></script>
</head>
<body>
<button onclick="newSocket()">初始化websocket</button>
<button onclick="sendMessage(null)">发送msg</button>
<button onclick="initChart()">初始化图表</button>
<button onclick="destroy()">销毁图表</button>
<div id="container"></div>
<script>
    let chart = null
    function initChart() {
        // 初始化，初始化chart的scale
        chartData = [
            {x: 0, y0: 0, y1: 0, y2: 0},
        ]
        // const data = chartData
        // Step 1: 创建 Chart 对象
        chart = new G2.Chart({
            container: 'container', // 指定图表容器 ID
            width: 600, // 指定图表宽度
            height: 300, // 指定图表高度
        });

        // Step 2: 载入数据源
        chart.data(chartData);


        const scale = {}
        let len = 0
        for (let i in chartData[0]) {
            if (i !== 'x') {
                len++;
                scale[i] = {
                    nice: true,
                    min: 0,
                    max: 10 * 1.5
                }
            }
        }
        console.log(len)
        chart.scale(scale)
        chart.tooltip({
            showCrosshairs: true,
            shared: true,
        });

        // Step 3：创建图形语法，绘制

        for (let i = 0; i < len; i++) {
            const t = 'x*y' + i
            console.log(t)
            chart.line().position(t)
        }

        // chart.line().position('x*y0')
        // chart.line().position('x*y1').color('#35ff50')
        // Step 4: 渲染图表
        chart.render();
    }



    function destroy() {
        const container = document.getElementById("container")
        container.innerHTML = ""
        // if (container != null) {
        //     container.parentNode.removeChild(container);
        // }
    }
</script>
</body>
</html>